.videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.videoBox{
    position:relative;
    border: 3px solid black;
    border-radius: 5px;
    height: 220px;
    width: 220px;
    margin-top: 10px;
    background-color: red;
}
#img{
    height: auto;
    width: 220px;
    margin: auto;
}
.btn{
    width: 60px;
    height: 25px;
    margin-top: 10px;
    margin-left: 40%;
    width: fit-content;
    border: none;
    background-color: rgb(146, 10, 10);
    cursor: pointer;
    border-radius: 10px;
    color: rgb(207, 221, 218);
    font-weight: bold;
    font-size: 18px;
}
#search{
    text-align: center;
    border-width: 3px;
    border-radius: 5px;
    border-color: red;
    color: red;
    font-size: 18px;
    height: 20px;
    
}
#sear{
    margin: auto;
    width: fit-content;
}
.txt{
    /* position: absolute; */
    font-size: 18px;
    margin: auto;
    text-decoration: none;
    text-align: center;
    /* width: fit-content; */
    color: white;
}
#you{
    margin: auto;
    width: fit-content;
    color: red;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
}